.header__container{
 display : flex;


    
}
.header__title{



}
.header__contents{




}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: white;
  z-index: 1000;   /* 다른 요소 위에 오도록 */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav__container{

 display : flex;
 list-style: none;  


}


