@import "tailwindcss";
@import "handsontable/styles/handsontable.min.css";
@import "handsontable/styles/ht-theme-main.min.css";
@plugin "daisyui";

body {
    position: relative;
    font-family: "Pretendard", sans-serif;
    margin: 0;
    background-color: var(--app-bg-color);
    
}
/* 초기화 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

hr {
    border: none;
    border-top: 1px solid var(--hr-color);
}

.color_container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}
.color_container > div {
    border-radius: 10px;
    user-select: none;
}

.platform_letter {
    display: inline-flex;
    gap: 4px;
}
.platform_letter span {
    display: inline-block;
    animation: bounce 0.8s infinite ease-in-out;
}
.platform_letter span:nth-child(1) {
    animation-delay: 0s;
}
.platform_letter span:nth-child(2) {
    animation-delay: 0.1s;
}
.platform_letter span:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.kenburns-bottom {
    -webkit-animation: kenburns-bottom 20s ease-out both;
    animation: kenburns-bottom 20s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-3 10:14:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-bottom
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(15px);
        transform: scale(1.25) translateY(15px);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
}
@keyframes kenburns-bottom {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 84%;
        transform-origin: 50% 84%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(15px);
        transform: scale(1.25) translateY(15px);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
    }
}

.scale-in-ver-center {
    -webkit-animation: scale-in-ver-center 1.5s
        cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
    animation: scale-in-ver-center 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86)
        both;
}
/* ----------------------------------------------
 * Generated by Animista on 2026-1-3 11:52:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes scale-in-ver-center {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

.text-fade-in {
    opacity: 0;
    top: 50%; /* 시작 위치 */

    animation: textFadeIn 1.25s ease-out 1.25s forwards;
}

@keyframes textFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text-fade-in2 {
    opacity: 0;

    animation: textFadeIn 1.25s ease-out 2.5s forwards;
}

@keyframes textFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-3 12:15:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

.slide-top {
    -webkit-animation: slide-top 1.6s cubic-bezier(0.22, 1, 0.36, 1) both;
    animation: slide-top 1.6s cubic-bezier(0.22, 1, 0.36, 1) both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-200px);
        transform: translateY(-200px);
    }
}

.control-container {
    display: flex;
    position: relative;
}

.screen-reader {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    margin: -1px;
    clip-path: inset(50%);
}

.label-box {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.check-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #cfcfcf;
    border: 1px solid gray;

    position: relative;
}

.check-icon::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 30%;
    height: 55%;
    left: 50%;
    top: 58%;
    transform: translateX(-50%) translateY(-70%) rotateZ(40deg);
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

[type="checkbox"]:checked + .label-box .check-icon {
    border-color: #4fd1c5; /* teal-300 */
    background-color: #4fd1c5;

    /* border-color: #22C55E;  
    background-color: #22C55E; */
}

[type="checkbox"]:checked + .label-box .check-icon::before {
    border-color: #fff;
}

/* ----------------------------------------------
 * Generated by Animista on 2026-1-3 18:38:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation swing-out-left-fwd
 * ----------------------------------------
 */
.swing-out-left-fwd {
    -webkit-animation: swing-out-left-fwd ease-out 0.7s both;
    animation: swing-out-left-fwd ease-out 0.7s both;
}
@-webkit-keyframes swing-out-left-fwd {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
}
@keyframes swing-out-left-fwd {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
    100% {
        -webkit-transform: rotateY(-70deg);
        transform: rotateY(-70deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }
}

:root {
    --title-color-1: #1f2937; /* gray-800 */
    --title-color-2: #374151; /* gray-700 */
    --text-basic: #4a5565; /* gray-600 */

    --app-bg-color: #f3f4f6;

    --text-gray-50: #f9fafb;
    --text-gray-100: #f3f4f6;
    --text-gray-200: #e5e7eb;
    --text-gray-300: #d1d5db;
    --text-gray-400: #9ca3af;
    --text-gray-500: #6b7280;
    --text-gray-600: #4b5563;
    --text-gray-700: #374151;
    --text-gray-800: #1f2937;
    --text-gray-900: #111827;
    --text-gray-950: #030712;
    --text-black: black;
    --text-white: white;

    --bg-color-1: #ffffff;

    --hr-color: #1f2937;
}

.dark {
    --title-color-1: #ffffff;
    --title-color-2: #ffffffe6;
    --text-basic: #ffffff99;

    --bg-color-1: #182030;

    --app-bg-color: #111827;

    --text-gray-50: #111827; /* gray-900 */
    --text-gray-100: #1f2937; /* gray-800 */
    --text-gray-200: #374151; /* gray-700 */
    --text-gray-300: #4b5563; /* gray-600 */
    --text-gray-400: #6b7280; /* gray-500 */
    --text-gray-500: #ffffff; /* gray-400 */
    --text-gray-600: #ffffff; /* gray-300 */
    --text-gray-700: #ffffff; /* gray-200 */
    --text-gray-800: #ffffff; /* gray-100 */
    --text-gray-900: #ffffff; /* gray-50 */
    --text-gray-950: #ffffff;
    --text-black: #ffffff;
    --text-white: black;

    --hr-color: #6b7280;
}

/* 임시 css */
.bg-white {
    background-color: var(--bg-color-1);
}
.bg-gray-50 {
    background-color: var(--bg-color-1);
}
.text-gray-600 {
    color: var(--text-basic);
}
.title1 {
    @apply text-5xl font-bold;
    color: var(--title-color-1);
}

.title2 {
    @apply text-[30px] font-bold;
    color: var(--title-color-2);
}
/* 임시 css */


.basic-text {
    @apply text-[16px] leading-relaxed;
    color: var(--text-basic);
}
.text-gray-50 {
    color: var(--text-gray-50);
}

.text-gray-100 {
    color: var(--text-gray-100);
}

.text-gray-200 {
    color: var(--text-gray-200);
}

.text-gray-300 {
    color: var(--text-gray-300);
}

.text-gray-400 {
    color: var(--text-gray-400);
}

.text-gray-500 {
    color: var(--text-gray-500);
}

.text-gray-600 {
    color: var(--text-gray-600);
}

.text-gray-700 {
    color: var(--text-gray-700);
}

.text-gray-800 {
    color: var(--text-gray-800);
}

.text-gray-900 {
    color: var(--text-gray-900);
}

.text-gray-950 {
    color: var(--text-gray-950);
}
.text-black {
    color: var(--text-black);
}
.text-white {
    color: var(--text-white);
}
