@import "tailwindcss";

body {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    background-color: #f3f4f6;

}
::selection {
    background: #cccccc; /* 원하는 색상 */
    /* 선택된 텍스트 색상 */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.color_container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}
.color_container > div {
    border-radius: 10px;
    user-select: none;
}

.platform_letter {
    display: inline-flex;
    gap: 4px;
}
.platform_letter span {
    display: inline-block;
    animation: bounce 0.8s infinite ease-in-out;
}
.platform_letter span:nth-child(1) {
    animation-delay: 0s;
}
.platform_letter span:nth-child(2) {
    animation-delay: 0.1s;
}
.platform_letter span:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
