@import "tailwindcss";
/* 타이틀 스케일은 3가지 계층 구조로 되어 있습니다. =====================================*/
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #1d1d1d;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #1d1d1d;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1d1d1d;
}

/* 본문 텍스트 스타일.=============================================================== */

.info-tit {
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 700;
    color: #333333;
}

.info-txt {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #2d323a;
}

.info-sub {
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 400;
    color: #565f6b;
}

.info-wrapper {
    margin-top: 40px;
}

/* navbar 텍스트 스타일. ==================================================================*/
.nav-logo {
    /*로고 스타일*/
    @apply tracking-wide;
    color: var(--text-black);
    font-weight: 700;
    font-size: 1.875rem;
}
.nav-app-ver {
    @apply ml-3 text-gray-400 text-xs;
}

.nav-txt {
    /*App 버젼 표기 스타일*/
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    color: #4a5565;
}
